/* 
 * Add your own CSS code for the WYSIWYG editor 
 */

.ordered-list {
    counter-reset: listCounter;
}

.ordered-list li {
    counter-increment: listCounter;
    list-style: none;
    position: relative;
}

.ordered-list li::before {
    color: #DE6B48;
    content: counter(listCounter, decimal-leading-zero) ".";
    font-weight: 600;
    left: -2rem;
    position: absolute;
}

blockquote {
    border: none;
    font-size: 1.125rem;
    font-style: normal;
    font-family: Georgia, Times, Times New Roman, serif;
    margin-top: calc(2.26667rem + 0.5vw);
    margin-bottom: calc(2.26667rem + 0.25vw);
    padding: 3.4rem 0 0;
    position: relative;
    text-align: center;
}

blockquote::before {
    color: #DE6B48;
    content: "“";
    font: normal 380%/0.9 Georgia, Times, Times New Roman, serif;
    top: 0.56667rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

blockquote > :nth-child(1) {
    margin-top: 0;
}

.post__note {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    float: right;
    font-size: 0.88889rem;
    margin: 0.53333rem 0 1.06667rem 1.6rem;
    max-width: 18.2rem;
    padding: 1.6rem;
    position: relative;
    z-index: 1;
}

.post__note > :nth-child(1) {
    margin: 0;
}

.post__note--left {
    float: left;
    margin: 0.53333rem 1.6rem 1.06667rem 0;
}


.btn,
[type=button],
[type=submit],
button {
    background: #DE6B48;
    border: 1px solid #DE6B48;
    border-radius: 2px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font: 400 0.88889rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0.69333rem 1.33333rem;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.24s ease;
    -o-transition: all 0.24s ease;
    transition: all 0.24s ease;
    overflow: hidden;
    will-change: transform;
}

.btn:hover,
:hover[type=button],
:hover[type=submit],
button:hover {
    -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none !important;
}

.btn--white {
    background: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #4A4A4F !important;
}

.btn--yellow {
    background: #FFC439 !important;
    border-color: #FFC439 !important;
    color: #FFFFFF !important;
}

.btn--dark {
    background: #6C6C6F !important;
    border-color: #6C6C6F !important;
    color: #FFFFFF !important;
}

.btn--green {
    background: #83B692 !important;
    border-color: #83B692 !important;
    color: #FFFFFF !important;
}

.btn--outline {
    background: none !important;
    border: 1px solid #6C6C6F !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #4A4A4F;
}

.btn--outline:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #4A4A4F;
}

